export(.onAttach)
export(Cbs)
export(GSA.read.gmt.2)
export(Lcb)
export(Run_pathwaysplice)
export(enMap2)
export(getgo3)
export(makeGeneWiseTable)
export(pathwaysplice)
export(plotPWF2)
export(testPathwaySplice)
import(goseq)
importFrom(BiasedUrn,dWNCHypergeo)
importFrom(BiasedUrn,pWNCHypergeo)
importFrom(GO.db,GO.db)
importFrom(gdata,trim)
importFrom(geneLenDataBase,unfactor)
importFrom(grDevices,colorRampPalette)
importFrom(igraph,add_vertices)
importFrom(igraph,delete.edges)
importFrom(igraph,get.edgelist)
importFrom(igraph,graph.empty)