import(goseq)
import(Biobase)
import(DOSE)
import(reshape2)
import(igraph)


importFrom(BiasedUrn,dWNCHypergeo)
importFrom(BiasedUrn,pWNCHypergeo)
importFrom(GO.db,GO.db)
importFrom(gdata,trim)
importFrom(geneLenDataBase,unfactor)
importFrom(grDevices,colorRampPalette)
importFrom(graphics,boxplot,par,text)
importFrom(stats,median,dhyper,glm,phyper,runif)
importFrom(utils,data,head,read.csv,read.table,relist)
importFrom(graphics,lines)
importFrom(stats,approx)

export(.onAttach)
export(Cbs)
export(Gmt2GeneCat)
export(LRtestBias)
export(Run_pathwaysplice)
export(enrichmentMap)
export(getgo3)
export(makeGeneWiseTable)
export(pathwaysplice)
export(testPathwaySplice)
