import(goseq)
import(Biobase)
import(DOSE)
import(reshape2)
import(org.Hs.eg.db,org.Mm.eg.db)
import(VennDiagram)
import(ensembldb)
import(webshot)

importFrom(AnnotationHub,AnnotationHub,query)
importFrom(BiocGenerics,sizeFactors)
importFrom(AnnotationDbi,toTable,select)
importFrom(stats,var,formula)
importFrom(JunctionSeq,runJunctionSeqAnalyses)
importFrom(BiasedUrn,dWNCHypergeo,pWNCHypergeo)
importFrom(GO.db,GO.db)
importFrom(gdata,trim)
importFrom(geneLenDataBase,unfactor)
importFrom(grDevices,colorRampPalette)
importFrom(graphics,boxplot,par,text,lines,legend)
importFrom(stats,median,dhyper,glm,phyper,runif,approx,prcomp)
importFrom(utils,data,head,read.csv,read.table,relist,write.csv)
importFrom(grDevices,dev.off,png)
importFrom(utils,write.table)
importFrom(RColorBrewer,brewer.pal)
importFrom(S4Vectors,mcols)
importFrom(dplyr,data_frame,as_data_frame,mutate_all,"%>%",funs)
importFrom(igraph,graph.empty,add_vertices,graph.data.frame,delete.edges,E,V,get.edgelist,write.graph)
importFrom(plotly,plot_ly,layout)
importFrom(htmlwidgets,saveWidget)

export(.onAttach)
export(gmtGene2Cat)
export(lrTestBias)
export(enrichmentMap)
export(makeGeneTable)
export(compareResults)
export(runPathwaySplice)
export(compareResults)